<h1>Get Method</h1>
<div *ngFor="let photo of photos">
    <div>
        <ul>
            <li>{{ photo.id }}</li>
            <li class="holder"><img [src]=" photo.thumbnailUrl"></li>
        </ul>
        <br>
    </div>
</div>